body{
  margin:0;
  font-family:system-ui;
  background:#fff;
}

header{
  padding:16px;
  font-size:22px;
  font-weight:800;
}

.categories{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:14px;
  padding:16px;
}

.categories div{
  background:#f7f7f7;
  padding:24px;
  text-align:center;
  border-radius:18px;
  font-size:20px;
  font-weight:700;
}